<article>

  <section class="cryptocurrency">
    <app-cryptocurrency></app-cryptocurrency>
  </section>

  <section class="tech-stocks">
    <app-tech-stocks></app-tech-stocks>
  </section>

  <section class="hot-stocks">
    <app-stock-watch></app-stock-watch>
  </section>

  <section class="my-stocks">
    <app-my-stock-watch></app-my-stock-watch>
  </section>

  <section class="search">
    <app-search-stocks></app-search-stocks>
  </section>

  <section class="notes">
      <app-notes></app-notes>
  </section>

  <section class="saved-notes">
      <app-advice></app-advice>
  </section>

</article>