article {
    height: 100%;
    padding-top: 1%;
}

.top-stocks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 70%;
    padding: 1%;
}

.stock-descrip {
    overflow: visible;
    margin-top: 2%;
    height: 30%;
}

section {
    padding: 1% 2%;
    margin: 2% 1%;
    cursor: pointer;
}

span {
    display: block;
    margin-top: 1%;
    font-size: 50%;
    font-style: italic;
}