.each-curr {
    list-style: none;
}

.securities-container div {
    float: left;
    font-size: 110%;
    margin: 1%;
    width: 30%;
    padding: .5%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.1);
    border: .5px solid rgba(0, 0, 0, 0.149);
    border-radius: 5px;
}