router-outlet {
    display: block;
    position: relative;
}

div {
    display: flex;
    flex-direction: column;
}

app-footer {
    bottom: 0;
    width: 90%;
    margin: auto;
    margin-bottom: 0;
}