@keyframes translate {
    0% {
        opacity: 0;
        transform: translate3d(-10%, 10%, 0);
    }
}

.my-stock {
    list-style: none;
    margin: 1% 1%;
    animation: translate .5s;
}

.my-stocks {
    height: 70%;
}

.my-stock-name {
    padding: 5% 1%;
    word-wrap: break-word;
}

.medium-word {
    font-size: 80%;
}

.large-word {
    font-size: 60%;
}

 .titles {
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    padding-bottom: 1%;
    margin: 0 1%;
 }

 .titles span {
     display: block;
     float: left;
     padding: .5% 0;
     text-align: center;
     margin: 0 1%;
     width: 22%;
 }

 .securities-container div {
    float: left;
    margin: 1%;
    width: 21%;
    padding: .5%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.1);
    border: .5px solid rgba(0, 0, 0, 0.149);
    border-radius: 5px;
}

p {
    font-size: 70%;
    padding: 0 3%;
    color: rgb(138, 2, 2);
}

.placeholder {
    text-align: center;
    margin-top: 3%;
}

span {
    float: left;
}