<html ng-app>
  <nav>
    <div class="left-side">
      <div class="profile-block">
        <div class="name-container">
          <!-- <h3 class="name" [ngStyle]="{'font-size': setProfileImgStyle(firstName)}">{{ firstName | titlecase }}</h3> -->
        </div>
        <img src="{{ profilePicture }}"/>
      </div>
    </div>
    
    <div class="middle">
      <h1 class='title'>Welcome to {{ navOptions.title }}, {{ firstName | titlecase}}</h1>
    </div>

    <div class="right-side">
      <h3>
        <a class="btn" routerLink="/">{{ navOptions.home }}</a><div>|</div>
        <a class="btn" routerLink="/budget">{{ navOptions.budget }}</a><div>|</div>
        <a class="btn" routerLink="/calc">{{ navOptions.calc }}</a><div>|</div>
        <a class="btn" routerLink="/pp">{{ navOptions.pp }}</a>
      </h3>
      
    </div>
  </nav>

  <div class="bottom-border"></div>
</html>

