nav {
    display: flex;
    background: linear-gradient(rgba(179, 179, 179, 0.818), rgb(12, 55, 0, .900)), url('../../../assets/stock-img.jpeg') no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding: 0 4% 2% 4%;
    border-radius: 15px;
}

.title {
    display: inline-block;
    text-align: center;
    padding: 0 1%;
    border-radius: 5px;
}

.left-side {
    order: 1;
    width: 7%;
    margin: auto;
}

.middle {
    order: 2;
    width: 40%;
    padding-top: 20px;
}

.right-side {
    order: 3;
    width: 40%;
    margin: auto;
    align-self: flex-end;
}

img {
    size: auto;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 40%;
}

.name {
    opacity: 90%;
    margin-top: 2%;
    display: block;
}

.profile-block {
    border-radius: 10%;
    margin-top: 10%;
    padding: 4% 1% 1% 1%;
    text-align: center;
}

.name-container {
    border-radius: 5px;
    padding: 2%;
    margin-top: 6%;
}

h3 a {
    float: left;
    margin: 0 1%;
    text-decoration: none;
    color: black;
}

h3 div {
    float: left;
}

.btn:link,
.btn:visited {
    float: left;
    color: rgb(21, 21, 21);
    background-color:  rgba(232, 232, 232, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.174);
    padding: 1%;
    border-radius: 3px;
    transition: background-color .5s;
}

.btn:hover {
    background-color:  rgba(197, 241, 255, 0.3);
}
