<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400i&display=swap" rel="stylesheet">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

<p class="section-header">
  {{ techTitle | titlecase }}
</p>
<div class="container">
  <div class="under-const">Feature is currently under construction. Check back later please.</div>
</div>
<!--
<div class="tech-companies-container">
  <div class="left-arrow" (click)="decrementCounter()"><i class="icon ion-md-arrow-back"></i></div>
  <section class="each-company">
    <div class="name-container">
      <div class="name">{{ selectedCompany.ticker }}</div>
    </div>
    <div @changeEl class="price-container">
     <div class="price"><span>$</span>{{ selectedCompany.price }}</div> 
    </div>
  </section>
  <div class="right-arrow" (click)="incrementCounter()"><i class="icon ion-md-arrow-forward"></i></div>
</div>
-->